body {
	background-image: url(../images/outerspace_landscape.png) no-repeat;
	background-size: cover;
}

nav {
  padding-left: 60px;
  padding-right: 60px;
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: grey;
}

.logo {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
}

nav ul {
	display: inline-block;
	list-style: none;
}

nav li {
	display: inline-block;
}

nav li::after {
	content: "|";
	margin-left: 5px;
}

nav a:hover {
	color: black;
}




.green_box {
  position: relative;
	border: 10px green dotted;
	width: 600px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
    margin-top: 150px;
	
  }

.cat, .dog {
	position: absolute;
  width: 200;
  height: 200;
  }

  
  .cat {
  top: -90px;
  left: -90px;
  }

.dog {
  bottom: -120px;
  right: -60px;
}